main , nav , header , footer{
    display:block;
}

/*--------------------root--------------------*/
:root {
    --color_primario: #B153C6;
    --color_primario_suave: #F82DE8;
    --color_blanco: #fff;
    --color_secundario: #442DDF;
    --color_secundario_oscuro: #150A20;
    --color_gris: #E2E2E2;
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
}

/*--------------------RESET--------------------*/
* {
    margin:0;
    padding:0;
    border: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h2 , h3 , h4 , h5 , h6 , p , span , a , strong , blockquote , em{
    font-size: 1em;
    font-weight:  inherit;
    font-style: inherit;
    text-decoration: none;
    color: var(--color_secundario_oscuro);
}

ol,ul{
    list-style: none;
}

/*--------------------BODY--------------------*/
body{
    background-color: var(--color_gris);
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

span{
    color: var(--color_primario);
    font-weight: bold;
}

.italica{
    font-style: italic;
}   

/*---------------HEADER---------------*/
.header {
    height: var(--altura_header);
    background-color: var(--color_gris);
    border-bottom: 1px solid #B153C6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 var(--padding_left_right);
}

.menu_hamburguesa{
    display: none;
}

.menu_hamburguesa:checked + .ul_links {
    height: calc(100vh - var(--altura_header));
}

.logo{
    width: 80px;
}

.list_icon {
    color: var(--color_secundario_oscuro);
    cursor: pointer;
}

.ul_links {
    width: 100%;
    background-color: var(--color_gris);
    position: absolute;
    top: var(--altura_header);
    left: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: all .3s;
}

.ul_links a:active{
    color: var(--color_primario);
}

.ul_links a:visited{
    color:#442DDF;
}

.ul_links a:hover{
    color: var(--color_primario);
}

.link {
    font-size: 2em;
    color: var(--color_secundario_oscuro);
}

.ul_links li:last-child a{
    background-color: var(--color_primario);
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    color: var(--color_gris);
}

.ul_links li:last-child a:hover{
    color: var(--color_secundario_oscuro);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/*---------------banner---------------*/
.banner {
    background-image: url(../img/bg-db-mobile.jpg);
    background-size: cover;
    width: 100%;
    height: 640px;
    justify-content: center;
    align-items: center;
    text-align: left;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.banner h1 {
    color: var(--color_secundario_oscuro);
    font-size: 2.5em;
    font-weight: bold;
    padding: 15vh 2rem 0 3rem;
}

.banner p {
    color: var(--color_secundario_oscuro);
    font-size: 1em;
    padding: 0.5rem 3rem ;

}

/*---------------Pagina---------------*/
#dubai{
    text-align: center;
}

#dubai h2{
    font-size: 1.5em;
    font-weight: bold;
    margin: 2.5em 0 1em 0;
}

#dubai p{
    font-size: 1em;
    margin: 1em;
}

.no-mobile{
    display: none;
}

#dubai iframe{
    margin: 1rem 0;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/*---------------historia---------------*/
#historia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#historia h2{
    width: 70%;
    align-self: flex-start;
    margin: 2rem 0;
    padding: 1rem 0 1rem 2rem;
    background: rgb(255,253,253);
    background: linear-gradient(270deg, rgba(226,226,226,1) 10%, rgba(68,45,223,1) 70%);
    color: var(--color_blanco);
    font-size: 1.5em;
}

#historia p{
    width: 80%;
    text-align: left;
    margin: 1rem 0;
}

#historia figure img{
    margin: 1.5rem 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*---------------Ubicacion---------------*/

#mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--color_secundario);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1rem 0;
    padding: 2rem 0;
}

#mapa:hover {
    animation: wave 1.5s;
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

#mapa h2{
    color: var(--color_blanco);
    font-size: 1.5em;
}

#mapa p{
    margin: 0 1.5rem;
    color: var(--color_blanco);
    text-align: left;
}

#mapa em{
    color: var(--color_blanco);
}

#mapa strong{
    color: var(--color_blanco);
}
#mapa span{
    color: var(--color_primario_suave);
}

#mapa iframe{
    width: 340px;
    height: 300px;
    border-radius: 10px;
    margin: 1rem 0;
    box-shadow: rgba(255, 255, 255, 0.7) 0px 3px 8px;
}

/*---------------Imagenes---------------*/
#imagenes h2{
    display: none;
}

.container {
	padding: 2rem 0;
}

.slider-wrapper {
	position: relative;
    max-width: 340px;
	margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
}

.slider {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 10px;
	-ms-overflow-style: none; 
	scrollbar-width: none; 
}

.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	scroll-snap-align: start;
	object-fit: cover;
    border-radius: 10px;
}

.slider picture{
    width: 340px;
    height: 270px;
    border-radius: 10px;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

/*---------------Cultura---------------*/
#cultura{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cultura h2{
    font-size: 1.5em;
    font-weight: bold;
    margin: 1rem;
}

.acordeon{
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    margin: 1rem 0;
    background-color: var(--color_blanco);
    padding: 2rem;
    gap: 2rem;
    border-radius: 10px;
}

details{
    cursor: pointer;
    width: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--color_primario);
}
summary{
    cursor: pointer;
    padding-left: 2rem;
    font-size: 1.2em;
    font-weight: 500;
    list-style: none;
    background-image: url(../icon/arrow-right-solid.svg);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
}

details[open] summary{
    list-style: none;
    padding-left: 2rem;
    background-image: url(../icon/arrow-down-solid.svg);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
}

details p{
    font-size: 1em;
    text-align: left;
    margin: 1rem 0.5rem;
}

details dl{
    text-align: left;
    margin: 1rem 0.5rem;
}

details span{
    font-weight: normal;
}

details[open]{
    list-style: url(../icon/arrow-down-solid.svg);
}

/*---------------Clima---------------*/
#clima{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clima h2{
    width: 70%;
    align-self: flex-start;
    margin: 2rem 0 1rem 0;
    padding: 1rem 0 1rem 2rem;
    background: rgb(255,253,253);
    background: linear-gradient(270deg, rgba(226,226,226,1) 10%, rgba(68,45,223,1) 70%);
    color: var(--color_blanco);
    font-size: 1.5em;
}

#clima p{
    width: 80%;
    text-align: left;
    margin: 1rem 0;
}

#clima picture img{
    margin: 1.5rem 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*---------------footer---------------*/
footer{
    margin: 2rem 0 0 0;
    background-color: var(--color_secundario);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    padding: 2rem 0;
}

footer h2{
    color: var(--color_blanco);
    font-size: 1.2em;
}

footer p{
    color: var(--color_blanco);
}

footer ul{
    color: var(--color_blanco);
}

#iconos{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

}

#iconos li a{
    display: block;
	background: url(../icon/iconos.webp);
	width: 42px;
	height: 42px;
	font-size:0px
}

#iconos #fb a{
    background-position: -145px 42px;
}

#iconos #tw a{
    background-position: -96px 42px;
}

#iconos #yt a{
    background-position: 0px 42px;
}

#iconos #ig a{
    background-position: -49px 42px;
}

/*---------------tablet---------------*/
@media (min-width:480px){

    /*---------------carrousel---------------*/
    .slider-wrapper {
        max-width: 480px;
        height: 270px;
    }

    .slider picture{
        width: 480px;
        height: 270px;
    }

}

/*---------------desktop---------------*/
@media (min-width:800px){

    /*---------------menu---------------*/
    .labe_hamburguesa {
        display: none;
    }

    .ul_links{
        background-color: transparent;
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
    }

    .link{
        font-size: 1.2rem;
        transition: all .3s;
        padding: .2rem .7rem;
        color: var(--color_secundario_oscuro);
        font-weight: bold;
    }

    .link:hover{
        color: #5f1192;
    }
    
    .ul_links li:last-child{
        padding: 1rem;
        border-radius: 10px;
        cursor: pointer;
    }

    /*---------------carrousel---------------*/
    .slider-wrapper {
        max-width: 889px;
        height: 500px;
    }
    .slider picture{
        width: 889px;
        height: 500px;
    }
}
